a:focus {
	outline: 0;
}

[component=match] {
	border: none !important;
}


.natosymbol {
	display: inline-block;
	width: 70px;
	height: 20px;
	opacity: 0.6;

	background-repeat:no-repeat;

	margin-top: 5px;
	position: relative;
	margin-bottom: -5px;
}

/* NATO SYMBOLS handmade by nomisum */
.symbol_air {
	background-image: url(icons/air.svg);
  	background-size: 30px 20px;	
}

.symbol_armor {
	background-image: url(icons/armor.svg);
  	background-size: 30px 20px;
}

.symbol_art {
	background-image: url(icons/art.svg);
  	background-size: 30px 20px;
}

.symbol_hq {
	background-image: url(icons/hq.svg);
  	background-size: 30px 20px;	
}

.symbol_inf {
	background-image: url(icons/inf.svg);
  	background-size: 30px 20px;
}

.symbol_maint {
	background-image: url(icons/maint.svg);
  	background-size: 30px 20px;	
}

.symbol_mech_inf {
	background-image: url(icons/mech_inf.svg);
  	background-size: 30px 20px;
}

.symbol_med {
	background-image: url(icons/med.svg);
  	background-size: 30px 20px;	
}

.symbol_mortar {
	background-image: url(icons/mortar.svg);
  	background-size: 30px 20px;	
}

.symbol_motor_inf {
	background-image: url(icons/motor_inf.svg);
  	background-size: 30px 20px;	
}

.symbol_plane {
	background-image: url(icons/plane.svg);
  	background-size: 30px 20px;	
}

.symbol_recon {
	background-image: url(icons/recon.svg);
  	background-size: 30px 20px;	
}

.symbol_service {
	background-image: url(icons/service.svg);
  	background-size: 30px 20px;	
}

.symbol_support {
	background-image: url(icons/support.svg);
  	background-size: 30px 20px;	
}

.symbol_uav {
	background-image: url(icons/uav.svg);
  	background-size: 30px 20px;	
}



.company_radiofrequency, .platoon_radiofrequency, .squad_radiofrequency {
	color: rgba(255,255,255,0.7);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	padding: 0px 5px;
	display: inline-block;
	width: 70px;
	text-align: right;

}

.fakeVehicleType {
	width: 40px;
    height: 30px;
    /* background-color: red;*/
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    z-index: 999999;
}

.platoon_radiofrequency {
	color: #777;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}

.squad_radiofrequency {
	color: #999;
	text-shadow: none;
}

.reservation:before {
	font-family: "FontAwesome";
    content:"\f023";
    color: #999;
    position: relative;
    top: 2px;
	left: -1px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}

#match-edit-submit, #match-add-submit, #match-dtd, #match-cancel {
	float:right;
}

.match-h2 {
	margin-top: 0;
}

.match-template-label {
	text-transform: uppercase;
	color: #777;
	margin: 0 0 10px;
}

.match-definition-container {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#match-definition {
	width: 100%;
	height: calc(100vh - 250px);
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	padding: 0 20px;
	overflow: auto;
}


.match-definition-debug {
	font-size:10px;
	color: #c0c0c0;
}

.match-template-buttons {
	padding-left: 0px;
}

.match-template-buttons li{
	list-style-type: none;
	display: inline-block;
}

.match-template-buttons button {
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border:none;
}

.match-template-buttons .tag {
	text-transform: uppercase;
	font-size: 10px;
	color: #666;
}

.match-template-buttons button:hover {
    background-color: #666;
    color: #fff;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}

.match-template-buttons button:active {
    background-color: #666;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}

.match-template-buttons span {
	position: relative;
}

.match-template-buttons button:active span{
	top: 1px;
}

.topic .posts .content .dropdown-menu li {
	list-style-type: none;
}

.btn[data-value="unknown"] .slotting-icon:after ,.btn[data-value=""] .slotting-icon:after {
  font-family: "FontAwesome";
  content: "\f0e8";
  color: #fff !important;
}

.btn[data-value="unknown"] .slotting-text:after, .btn[data-value=""] .slotting-text:after{
  color: #fff !important;
  content: "\00a0 Slotliste";
}

.arma3-slotting-unit {
    /* border: 1px solid black;*/
    padding: 2px;
}

.container_company {
	min-height: 80px;
	/* width: calc(100% - 110px);*/
	
	/* box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2); */
	/* border: 1px solid #d9d9d9;*/
	box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.075);
	float: left;
	text-align: center;
}

.company_head, .platoon_head, .squad_head {
	/* height: 75px;*/
	text-align: center;
	/* padding: 10px;*/
}

.company_title, .platoon_title, .squad_title {
	color: rgba(255,255,255,0.4);
	text-align: center;
	height: 50px;
	line-height:48px;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
	font-size: 16px;
	cursor: pointer;
	width: calc(100% - 160px);
	display: inline-block;
}


.company_title {
	/*background-color: #8f1167;*/
	
	color: rgba(255,255,255,0.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-table;
}

.company_title_container {
	background-color: #999;
}


.container_platoon {
	min-height: 80px;
	width: calc(100% - 10px);
	
	/* box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2);*/
	background: #fff;
	float: left;
	margin: 20px 5px 5px 5px;
	text-align: center;
}


.platoon_title {
	/*background-color: #777;*/
	color: #777;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-table;
}

.platoon_title_container {
	background-color: #d0d0d0;
}



.container_squad {
	min-height: 80px;
	box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2);
	float: left;
	margin:5px;
	text-align: center;
}


div .squad_head {
	background-color: #fff;
	width: 100%;
	min-height: 80px;
	/*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.squad_title {
	color: #333;
	text-align: center;
	font-weight: bold;
	text-shadow: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-table;
}

.squad_title_container {
	background-color: #fff;
}

.container_fireteam {
	min-height: 50px;
	width: 50%;
	box-shadow: none;
	float: left;
	/*background-color: #d9d9d9;*/
	text-align: center;
	border-left:1px solid #c0c0c0;
}

.squad_body {
    background-color: #d9d9d9;
	width: 100%;
	display: table;
}


.squad_body.odd .container_fireteam {
	width: auto;
}

.slot {
	height:32px;
	width: 32px;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}

.slot:last-child {
	margin: 0px 10px 0px 10px;
}

.container_fireteam .slot {
	margin-top: 5px;
	margin-bottom: 5px;
}

.slot .avatar {
	height: 32px;
	width: 32px;
	background-color: #d9d9d9;
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.2);
	border-radius: 50%;
}

.container_fireteam .avatar{
	background-color: #fff;
}

.slot_descr {
	color: #777;
	display: block;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	margin-top: 2px;

	white-space: nowrap;

	-webkit-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
     transition: color 100ms ease-in-out;

	-webkit-transition: background-color 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out;
     transition: background-color 100ms ease-in-out;
}

.slot_descr:hover {
	color: #333;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
     transition: color 100ms ease-in-out;

	  -webkit-transition: background-color 100ms ease-in-out;
	  -moz-transition: background-color 100ms ease-in-out;
	  -o-transition: background-color 100ms ease-in-out;
	  -ms-transition: background-color 100ms ease-in-out;
	  transition: background-color 100ms ease-in-out;

}

.company_head .slot:first-child .slot_descr, .platoon_head .slot:first-child .slot_descr, .squad_head .slot:first-child .slot_descr {
	margin-left: 8px;
}

.company_head .slot:first-child, .platoon_head .slot:first-child, .squad_head .slot:first-child {
	position: relative;
	margin-right: 15px;
	/* left: calc(50% - 30px);
	display: block;
	*/
	margin-top: 10px;
}

.company_head .slot:first-child .avatar, .platoon_head .slot:first-child .avatar, .squad_head .slot:first-child .avatar{
	height: 40px;
	width: 40px;
}

[data-value="taken"] .avatar {
	background-color: #333;
}

.slot_dropdown {
	position: relative;
	top: 40px;
	left: -60px;
}

.slot_dropdown ul {
	display: block;
}

.slot_dropdown .dropdown-menu > li > a {
	padding: 10px 20px;
}

.topic .posts .content .slot_dropdown ul > li {
	list-style: none;
}

[data-visible="no"] {
	display: none;
}

[data-visible="yes"] {
	display: block;
}

@media (max-width: 320px) {
	.container_fireteam{
		min-height: 50px;
		width: 50%;
		box-shadow: none;
		float: left;
		background-color: #d9d9d9;
		text-align: center;
		border-left:1px solid #c0c0c0;
		}	

	.squad_body.odd .container_fireteam{
		width: 100%;	
		}	

	.slot:first-child {
		margin: 10px 5px 0px 5px;
	}

	.slot {
		margin: 10px 5px 0px 5px;
	}

	.slot:last-child {
		margin: 10px 5px 0px 5px;
	}

	.natosymbol {
		display: block;
	    width: 70px;
	    width: 100%;
	    height: 25px;
	    background-position-x: 50%;
        background-position-y: 5px;
	}

	.container_title {
		display: block;
		width: 100%;
		height: 40px;
	}

	.radiofrequency {
		display: block;
		width: 100%;
		text-align: center;
	}

}

.container_fireteam:first-child{
	border-left: 1px solid #d9d9d9;
}

