[component=match] {
	border: none !important;
}

.btn[data-value="unknown"] .slotting-icon:after ,.btn[data-value=""] .slotting-icon:after {
  font-family: "FontAwesome";
  content: "\f0e8";
  color: #fff !important;
}

.btn[data-value="unknown"] .slotting-text:after, .btn[data-value=""] .slotting-text:after{
  color: #fff !important;
  content: "\00a0 Slotliste";
}

.arma3-slotting-unit {
    /* border: 1px solid black;*/
    padding: 2px;
}

.container_company {
	min-height: 80px;
	/* width: calc(100% - 110px);*/
	
	/* box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2); */
	/* border: 1px solid #d9d9d9;*/
	box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.075);
	float: left;
}

.company_head, .platoon_head, .squad_head {
	/* height: 75px;*/
	text-align: center;
	padding: 10px;
}

.company_title, .platoon_title, .squad_title {
	display: block;
	background-color: #000;
	color: rgba(255,255,255,0.4);
	text-align: center;
	height: 45px;
	line-height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
	font-size: 16px;
}

.company_title {
	/*background-color: #8f1167;*/
	background-color: #999;
	color: rgba(255,255,255,0.7);
}

.container_platoon {
	min-height: 80px;
	width: calc(100% - 10px);
	
	/* box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2);*/
	background: #fff;
	float: left;
	margin:5px;
}


.platoon_title {
	/*background-color: #777;*/
	background-color: #d0d0d0;
	color: #777;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}



.container_squad {
	min-height: 80px;
	/* width: calc(100% - 110px);*/
	
	box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2);
	float: left;
	margin:5px;
}


div .squad_head {
	background-color: #fff;
	width: 100%;
	min-height: 80px;
	float: left;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.squad_title {
	display: block;
	background-color: #fff;
	color: #333;
	text-align: center;
	font-weight: bold;
	text-shadow: none;
}

.container_fireteam {
	min-height: 50px;
	width: 50%;
	box-shadow: none;
	float: left;
	background-color: #d9d9d9;
	text-align: center;
	border-left:1px solid #c0c0c0;

}

.slot {
	height:32px;
	width: 32px;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}

.slot:last-child {
	margin: 0px 10px 0px 10px;
}

.container_fireteam .slot {
	margin-top: 5px;
	margin-bottom: 5px;
}

.slot .avatar {
	height: 32px;
	width: 32px;
	background-color: #d9d9d9;
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.2);
	border-radius: 50%;
}

.container_fireteam .avatar{
	background-color: #fff;
}

.slot_descr {
	color: #777;
	display: block;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	margin-top: 2px;

	-webkit-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
     transition: color 100ms ease-in-out;

	-webkit-transition: background-color 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out;
     transition: background-color 100ms ease-in-out;
}

.slot_descr:hover {
	color: #333;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
     transition: color 100ms ease-in-out;

	  -webkit-transition: background-color 100ms ease-in-out;
	  -moz-transition: background-color 100ms ease-in-out;
	  -o-transition: background-color 100ms ease-in-out;
	  -ms-transition: background-color 100ms ease-in-out;
	  transition: background-color 100ms ease-in-out;

}

.company_head .slot:first-child .slot_descr, .platoon_head .slot:first-child .slot_descr, .squad_head .slot:first-child .slot_descr {
	margin-left: 8px;
}

.company_head .slot:first-child, .platoon_head .slot:first-child, .squad_head .slot:first-child {
	position: relative;
	margin-right: 15px;
	/* left: calc(50% - 30px);
	display: block;
	*/
}

.company_head .slot:first-child .avatar, .platoon_head .slot:first-child .avatar, .squad_head .slot:first-child .avatar{
	height: 40px;
	width: 40px;
}

[data-value="taken"] .avatar {
	background-color: #333;
}

.slot_dropdown {
	position: relative;
	top: 40px;
	left: -60px;
}

.slot_dropdown ul {
	display: block;
}

.slot_dropdown .dropdown-menu > li > a {
	padding: 10px 20px;
}

.topic .posts .content .slot_dropdown ul > li {
	list-style: none;
}

[data-visible="no"] {
	display: none;
}

[data-visible="yes"] {
	display: block;
}

@media (max-width: 320px) {
	.container_fireteam{
		min-height: 50px;
		width: 50%;
		box-shadow: none;
		float: left;
		background-color: #d9d9d9;
		text-align: center;
		border-left:1px solid #c0c0c0;
		}	

	.slot:first-child {
		margin: 0px 5px 0px 5px;
	}

	.slot {
		margin: 0px 5px 0px 5px;
	}

	.slot:last-child {
		margin: 0px 5px 0px 5px;
	}
}

.container_fireteam:first-child{
	border-left: 1px solid #d9d9d9;
}

