a:focus {
	outline: 0;
}

[component=match] {
	border: none !important;
}

#slotlist-external {
	border: none;
	width: 100%;
	height: calc(100% - 35px);
}

[component="topic/arma3-slotting"] {
	height: 50px;
}
[component="topic/arma3-slotting"].expanded {
	height: 80%;
}
[component="topic/arma3-slotting"].hidden {
	display: none;
}

[component="topic/arma3-slotting"] .arma3-slotting-header {
	display: flex;
	margin-bottom: 10px;
	height: 30px;
}
[component="topic/arma3-slotting"] h3 {
	margin: 0;
	text-transform: uppercase;
	color: #777;
	font-weight: 300;
	font-size: 14px;
	flex-grow: 1;

	display: flex;
	align-items: center;
}

.arma3-slotting-header .btn {
	color: black;
	background: none;
	border: 1px solid;
	margin-left: 10px;
}

#modal-presets input {
	padding: 10px 16px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	font-size: 30px;
	width: 100%;
	margin-bottom: 5px;
} 

#modal-presets small {
	color: #999;
}

#modal-presets input::placeholder {
	color: #999;
}

.match-help {
	margin-top: 8px;
	padding: 10px 0 10px 16px;
}

.natosymbol {
	display: inline-block;
	width: 70px;
	height: 20px;
	opacity: 0.6;

	background-repeat:no-repeat;

	margin-top: 5px;
	position: relative;
	margin-bottom: -5px;
}

/* NATO SYMBOLS handmade by nomisum */
.symbol_zeus {
	background-image: url(icons/zeus.svg);
  	background-size: 30px 20px;	
}

.symbol_air {
	background-image: url(icons/air.svg);
  	background-size: 30px 20px;	
}

.symbol_armor {
	background-image: url(icons/armor.svg);
  	background-size: 30px 20px;
}

.symbol_art {
	background-image: url(icons/art.svg);
  	background-size: 30px 20px;
}

.symbol_hq {
	background-image: url(icons/hq.svg);
  	background-size: 30px 20px;	
}

.symbol_inf {
	background-image: url(icons/inf.svg);
  	background-size: 30px 20px;
}

.symbol_maint {
	background-image: url(icons/maint.svg);
  	background-size: 30px 20px;	
}

.symbol_mech_inf {
	background-image: url(icons/mech_inf.svg);
  	background-size: 30px 20px;
}

.symbol_med {
	background-image: url(icons/med.svg);
  	background-size: 30px 20px;	
}

.symbol_mortar {
	background-image: url(icons/mortar.svg);
  	background-size: 30px 20px;	
}

.symbol_motor_inf {
	background-image: url(icons/motor_inf.svg);
  	background-size: 30px 20px;	
}

.symbol_plane {
	background-image: url(icons/plane.svg);
  	background-size: 30px 20px;	
}

.symbol_recon {
	background-image: url(icons/recon.svg);
  	background-size: 30px 20px;	
}

.symbol_service {
	background-image: url(icons/service.svg);
  	background-size: 30px 20px;	
}

.symbol_support {
	background-image: url(icons/support.svg);
  	background-size: 30px 20px;	
}

.symbol_uav {
	background-image: url(icons/uav.svg);
  	background-size: 30px 20px;	
}

.symbol_small {
	width: 35px;
	height: 10px;
	background-size:15px 10px;
	margin-bottom: -1px;
}

.opfor .company_title_container{
	border-color: #800000;
}

.blufor .company_title_container{
	border-color: #004c9a;
}

.opfor .company_title {
	color: #800000;
}

.blufor .company_title {
	color: #004c9a;
}

.greenfor .company_title {
	color: #33aa2e;
}
.greenfor .company_title_container {
	color: #33aa2e;
}

.company_radiofrequency, .platoon_radiofrequency, .squad_radiofrequency {
	color: rgba(0,0,0,0.5);
	padding: 0 5px;
	display: inline-block;
	width: 70px;
	text-align: right;
}

.fakeVehicleType {
	width: 40px;
    height: 30px;
    /* background-color: red;*/
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    z-index: 999999;
}

.platoon_radiofrequency {
	color: #777;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

.squad_radiofrequency {
	color: #999;
	text-shadow: none;
}

.locked:before {
	font-family: "FontAwesome";
    content:"\f023";
    color: #999;
    position: relative;
    top: 2px;
	left: -1px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}


.slot_button .locked:before {
	color: #6c6;
}

#match-edit-submit, #match-add-submit, #match-dtd, #match-cancel {
	float:right;
}

.match-h2 {
	margin-top: 0;
}

.match-definition-header {
	width: 100%;
    height: 45px;
}

.match-template-label {
	text-transform: uppercase;
	color: #777;
	margin: 0 0 10px;
}

.match-definition-container {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#match-definition {
	width: 100%;
	height: calc(100vh - 330px);
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	padding: 0 20px;
	overflow: auto;

	color: #8f1167;  /* change [input cursor color] by this*/
    text-shadow: 0 0 0 #333; /* change [input font] by this*/
    -webkit-text-fill-color: transparent;
}

#match-definition::-webkit-input-placeholder{
  color: #333;  /* change [placeholder color] by this*/
  text-shadow: none;
  -webkit-text-fill-color: initial;
}


.match-definition-debug {
	font-size:10px;
	color: #c0c0c0;
}


.match-template-buttons {
	padding-left: 0;
}

.match-template-settings ul { 
	width: 100%;
}

.match-template-buttons li, .match-template-settings li{
	list-style-type: none;
	display: inline-block;
}

.match-template-buttons .dropdown-menu li{
	list-style-type: none;
	display: block;
}

.match-template-buttons button {
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border:none;
}

.match-template-settings {
	height: 80px;
	display:flex;
	align-items:center;
}

.match-template-settings ul {
	padding-left: 0;
}

.match-template-settings li {
	margin-right: 20px;
}

.switch_label {
	padding-left: 30px;
	margin-top: -1px;
	user-select: none;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  top: 9px;
  background-color: #fff;
  padding: 10px 16px;
}

.switch:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

input:hover + .slider {
  background-color: #666;
}

input:checked + .slider {
  background-color: #66aa66;
}

input:checked:hover + .slider {
  background-color: #337733;
}

input:focus + .slider {
  box-shadow: 0 0 1px #66aa66;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
  width: 30px;
  height: 17px;
  margin: 7px;
  top: 3px;
}

.slider.round:before {
  border-radius: 50%;
}

[component="topic/arma3-slotting"] {
	margin: 10px 0;
	padding: 1rem;
	background: white;
	position: fixed;
	bottom: 0;
	left: 10%;
	width: calc(100% - 20%);
	z-index: 1000000;
	height: 50px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
	border-radius: 8px;
}

.topic .posts .content .dropdown-menu li {
	list-style-type: none;
}

.btn[data-value="unknown"] .slotting-icon:after ,.btn[data-value=""] .slotting-icon:after {
  font-family: "FontAwesome";
  content: "\f0e8";
  color: #fff !important;
}

.btn[data-value="unknown"] .slotting-text:after, .btn[data-value=""] .slotting-text:after{
  color: #fff !important;
  content: "\00a0 Slotliste";
}

.arma3-slotting-unit {
    /* border: 1px solid black;*/
    padding: 2px;
}

.container_company {
	min-height: 80px;
	/* width: calc(100% - 110px);*/
	width: 100%;
	/* box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2); */
	/* border: 1px solid #d9d9d9;*/
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.075);
	float: left;
	text-align: center;
	margin-top: 20px;
}

.company_head, .platoon_head, .squad_head {
	/* height: 75px;*/
	text-align: center;
	/* padding: 10px;*/
}

.company_title, .platoon_title, .squad_title {
	color: rgba(0,0,0,0.5);
	text-align: center;
	height: 50px;
	line-height:48px;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	width: calc(100% - 160px);
	display: inline-block;
}


.company_title {
	/*background-color: #8f1167;*/
	color: #8f1167;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-table;
}

.company_title_container {
	border-top: 3px solid #8f1167;
}


.container_platoon {
	min-height: 80px;
	width: calc(100% - 40px);
	
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
	background: #fff;
	float: left;
	margin: 20px 5px 5px 20px;
	text-align: center;
}


.platoon_title {
	/*background-color: #777;*/
	color: #D18D1F;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-table;
}

.platoon_title_container {
	border-top: 3px solid #D18D1F;
}

.container_squad {
	min-height: 80px;
	box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
	margin:5px;
	text-align: center;
	display: inline-block;
}

div .squad_head {
	background-color: #fff;
	width: 100%;
	min-height: 80px;
	/*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.squad_empty {
	padding-left: 7px;
}

.squad_title {
	color: #333;
	text-align: center;
	font-weight: bold;
	text-shadow: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-table;
}

.squad_title_container {
	background-color: #fff;
}

.container_fireteam {
	min-height: 50px;
	/*width: 50%;*/
	box-shadow: none;
	/*background-color: #d9d9d9;*/
	text-align: center;
	
	display: inline-block;
	padding: 0 10px;
}

.squad_body {
    background-color: #d9d9d9;
	width: 100%;
	display: table;
	text-align: center;
}


.squad_body.odd .container_fireteam {
	display: inline-block;
	padding: 0 10px;
}

.slot {
	height:32px;
	width: 32px;
	display: inline-block;
	margin: 0 0 0 10px;
	position: relative;
}



.slot:last-child {
	margin: 0 10px 0 10px;
}

.container_fireteam .slot {
	margin-top: 5px;
	margin-bottom: 5px;
}

.slot .avatar {
	height: 32px;
	width: 32px;
	background-color: #d9d9d9;
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.2);
	border-radius: 50%;
    transition: background-color 80ms ease-in;
}

.slot .avatar:hover {
	background-color: #f9f9f9;
    transition: background-color 80ms ease-in;
}

.container_fireteam .avatar{
	background-color: #fff;
     transition: background-color 80ms ease-in;
}

.container_fireteam .avatar:hover{
	background-color: #f0f0f0;
	transition: background-color 80ms ease-in;
}

.slot_descr {
	color: #777;
	display: block;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	margin-top: 2px;

	white-space: nowrap;
	transition: color 100ms ease-in-out,  background-color 100ms ease-in-out;
}

.slot_descr:hover {
	color: #333;
	background-color: rgba(0,0,0,0.2);
    transition: color 100ms ease-in-out,  background-color 100ms ease-in-out;
}

.company_head .slot:first-child .slot_descr, .platoon_head .slot:first-child .slot_descr, .squad_head .slot:first-child .slot_descr {
	margin-left: 8px;
}

.company_head .slot:first-child, .platoon_head .slot:first-child, .squad_head .slot:first-child {
	position: relative;
	margin-right: 15px;
	/* left: calc(50% - 30px);
	display: block;
	*/
	margin-top: 10px;
}

.company_head .slot:first-child .avatar, .platoon_head .slot:first-child .avatar, .squad_head .slot:first-child .avatar{
	height: 40px;
	width: 40px;
}

[data-value="taken"] .avatar {
	background-color: #333;
}

.slot_dropdown {
	position: relative;
	top: 40px;
	left: -60px;
}

.slot_dropdown ul {
	display: block;
}

.slot_dropdown .dropdown-menu > li > a {
	padding: 10px 20px;
}

.topic .posts .content .slot_dropdown ul > li {
	list-style: none;
}

[data-visible="no"] {
	display: none;
}

[data-visible="yes"] {
	display: block;
}

@media (max-width: 768px) {
	#match-edit-submit, #match-cancel {
		width: 60px;
		color: transparent;
	}

	#match-edit-submit .fa {
		color: #fff;
	}

	#match-cancel .fa {
		color: #333;
	}

	.match-template-buttons .visible-sm-inline, 
	.match-template-buttons .visible-md-inline,
	.match-template-buttons .visible-lg-inline {
		display: block !important;
		max-width: 50px;
		white-space: nowrap;
  		overflow: hidden;
		text-overflow: ellipsis;
	}

}

@media (max-width: 320px) {
	.container_fireteam{
		min-height: 50px;
		/*width: 50%;*/
		box-shadow: none;
		
		background-color: #d9d9d9;
		text-align: center;
		}	

	.squad_body.odd .container_fireteam{
		width: 100%;	
		}	

	.slot:first-child {
		margin: 10px 5px 0 5px;
	}

	.slot {
		margin: 10px 5px 0 5px;
	}

	.slot:last-child {
		margin: 10px 5px 0 5px;
	}

	.natosymbol {
		display: block;
	    /* width: 70px; */
	    width: 100%;
	    height: 25px;
	    background-position-x: 50%;
        background-position-y: 5px;
	}

	.container_title {
		display: block;
		width: 100%;
		height: 40px;
	}

	.radiofrequency {
		display: block;
		width: 100%;
		text-align: center;
	}

}

.container_fireteam:first-child{
	border-left: 1px solid #d9d9d9;
}


.slot_button {
	cursor: pointer;
}

.slot .user-group-badge {
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	display: block;
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
}
