<div class="arma3-slotting-unit">
	platoon <%-x.uuid%>

	<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	<%= ([].concat(x.fireteam || [])).map(pluginArma3SlottingTemplates.fireteam).join('') %>
	<%= ([].concat(x.squad || [])).map(pluginArma3SlottingTemplates.squad).join('') %>
</div>
