<% /*global tid, myAttendanceState */ %>
<!-- begin nomi edit, here is slotting button time -->
<div class="clearfix">
	<div class="btn-group bottom-sheet pull-left" component="topic/slottingButton">
		<button class="slotting btn" data-value="" type="button" data-id="master">
			<span class="slotting-icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
			<span class="slotting-text"></span>
		</button>
	</div>
</div>
<!-- end nomi edit -->
