<% /*global tid, myAttendanceState */ %>
<!-- begin nomi edit, here is Match-hinzufügen-time -->
<div class="btn-group bottom-sheet pull-left" component="topic/slottingButton">
	<button class="slotting btn arma3-slotting-button-add-match" data-value="" type="button">
		<span class="slotting-icon"></span>
		<span class="slotting-text"></span>
	</button>

</div>
<!-- end nomi edit -->
