<% /*global tid, myAttendanceState */ %>
<!-- begin nomi edit, here is Match-hinzufügen-time -->
<div class="">
	<div class="btn-group bottom-sheet pull-left" component="topic/slottingButton">
		<button class="slotting btn arma3-slotting-button-add-match" data-value="" type="button">
			<span class="slotting-icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
			<span class="slotting-text">Spiel hinzufügen</span>
		</button>

	</div>
</div>
<!-- end nomi edit -->
