<div class="slot" data-uuid="<%-x.uuid%>">
	<a href="#">
		<div class="avatar avatar-sm avatar-rounded" title="">
		</div>
	</a>
<span class="slot_descr" title="<%= x.description%>"><%-x.shortcode%></span>
</div>
